body {
  background-color: #bdc3c7;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
    box-sizing: border-box;
}

#kontainerJudul {
  background-color: #ff6961;
  margin-top: 20px;
}

#kontainerCopyPlan {
  background-color: #08cad1;
}

#kontainerDischarge {
  background-color: #f8f38d;
}

#kontainerTextarea {
  background-color: #42d6a4;
  padding: 15px;
}

#kontainerJudul,
#kontainerCopyPlan,
#kontainerDischarge,
#kontainerTextarea {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 320px;
  border: 4px solid #34495e;
  border-radius: 20px;
  margin-bottom: 20px;
}

#tombolHome {
  width: 70%;
  min-width: 320px;
  background-color: #ffffff;
  border: 4px solid #34495e;
  border-radius: 20px;
}

.none {
  display: none !important;
}

#kontainerCopyPlan {
  background-color: #08cad1;
  cursor: pointer; /* Tambahkan ini agar kursor berubah saat diarahkan */
  transition: background-color 0.2s; /* Tambahkan ini agar transisi warna halus */
}
